body
{
    background-color:   #2e3440;
    color:              white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div
{
    background-color:   #3b4252;
    color:              rgb(200, 219, 246);
}

#title
{
    background-color:   #3b4252;
    color:              #d8dee9;
    text-align:         center;
}

#navigation
{
    background-color:   #3b4252;
    color:              #d8dee9;
    text-align:         center;
    font-size:          medium;
    font-weight:        bold;
}